{
  "extends": ["../../.eslintrc.js"],
  "rules": {
    "max-classes-per-file": 0,
    "react/static-property-placement": 0,
    "class-methods-use-this": 0,
    "react/no-unused-class-component-methods": 0,
    "global-require": 0
  }
}
